{% extends 'predict/base.html' %}

{% block content %}
<main>
    <div class="container-fluid">

      <div class="card text-center mb-5 py-5">

        <div class="card-body">

          <h4 class="mb-4 dark-grey-text font-weight-bold"><strong>Result</strong></h4>

<!--Card-->
<div class="card indigo text-center z-depth-5 light-version py-4 px-5" >

  
    <hr class="w-100 my-4">
  
  
  </div>
  <!--/.Card-->
  <!--Card-->
  <div class="card mdb-color lighten-4 text-center z-depth-2 light-version py-4 px-5">
    
    <form class="md-form" class="mb-3">
      
    </form>
  
    <form class="md-form" class="mb-3">
        <div class="file-field">
            <div class="card text-center">
              <h3 class="card-header primary-color white-text">The Result is Negative. The Patient does NOT have sepsis</h3>
                <!-- <div class="card-body">
                  <p class="card-text">Click to review and confirm</p>
                  <a href="https://mdbootstrap.com/docs/jquery/components/alerts/" target="_blank" class="btn btn-primary">Review and Confirm</a>
                </div> -->
              </div>
            <!-- <div class="file-path-wrapper">
              <input class="file-path validate text-white" type="text" placeholder="Upload one or more files">
            </div> -->
          </div>
    </form>
  
  
  </div>
  <!--/.Card-->
        </div>

      </div>

      <!-- <div class="card text-center mb-5 py-5">

        <div class="card-body">

          <h4 class="mb-4 dark-grey-text font-weight-bold"><strong>Enter Report Manually</strong></h4>


          <div class="mb-4"> -->

            <!-- <a class="btn btn-indigo" onclick="toastr.info('Hi! I am info message.', '', {positionClass: 'md-toast-top-left'});">Top
              left</a> -->

            <!-- <a class="btn btn-indigo" onclick="toastr.info('Hi! I am info message.', '', {positionClass: 'md-toast-top-center'});">Top
              Enter Blood Report Data</a>

            <a class="btn btn-indigo" onclick="toastr.info('Hi! I am info message.', '', {positionClass: 'md-toast-top-right'});">
              Enter Urine Report Data</a>

          </div>

          <div class="mb-4"> -->

            <!-- <a class="btn btn-indigo" onclick="toastr.info('Hi! I am info message.', '', {positionClass: 'md-toast-bottom-left'});">Bottom
              left</a> -->

            <!-- <a class="btn btn-indigo" onclick="toastr.info('Hi! I am info message.', '', {positionClass: 'md-toast-bottom-center'});">Bottom
                Enter SCAN Report Data</a>

            <a class="btn btn-indigo" onclick="toastr.info('Hi! I am info message.', '', {positionClass: 'md-toast-bottom-right'});">Bottom
                Enter Physiological Report Data</a>

          </div>

        </div>

      </div> -->

      <!-- Section: Docs link -->
      <!-- <section class="pb-5">

        Panel -->
        <!-- <div class="card text-center">
          <h3 class="card-header primary-color white-text">The Result Is POSITIVE</h3> -->
          <!-- <div class="card-body">
            <p class="card-text">Click to review and confirm</p>
            <a href="https://mdbootstrap.com/docs/jquery/components/alerts/" target="_blank" class="btn btn-primary">Review and Confirm</a>
          </div> -->
        <!-- </div> --> 
        <!-- Panel -->

      </section>
      <!-- Section: Docs link -->

    </div>
  </main>
  {% endblock %}